<!DOCTYPE html>
<html>
<head>
    <title>Создать заявку</title>
</head>
<body>
    <h1>Формирование заявки</h1>

    <form method="POST">
        {% csrf_token %}

        <p>
            <label>Наименование курса:</label>
            {{ form.title }}
        </p>

        <p>
            <label>Дата начала обучения:</label>
            {{ form.start_date }}
        </p>

        <p>
            <label>Способ оплаты:</label>
            {{ form.payment_method }}
        </p>

        <p>
            <label>Дополнительные пожелания:</label>
            {{ form.description }}
        </p>

        <button type="submit">Отправить заявку</button>
    </form>

    <br>
    <a href="{% url 'applications' %}">Назад к заявкам</a>
</body>
</html>